body{
    background-color: aqua;
    font-style: oblique;
}

#mother{
    background-color: rgb(83, 83, 81);
    font-size: 20px;
    width: 100%;

}

main{
    float: right;
    padding: 7px;
}

input{
    padding: auto;
    margin: 5px;
    border-radius: 5px;
    text-align: center;

}

aside{
    float: left;
    padding: 100px;
    background-color: rgb(44, 221, 8);
    text-align: center;
    border: 15px solid black;
    font-size: 20px;
    
}

#tbl{
    width: 850px;
    font-size: 20px;
}

#tbl th{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

aside button{
    width: 100px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    color: violet;
    background-color: black;

}

aside button:hover{
    background-color: white;
    color: rgb(0, 255, 21);

}
